*{
    color:white;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.site-wrapper{
    background-color:#849d8f;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 900px;
}
header{
    min-width:1200px;
    max-height: 73px;
    display: flex;
}
header a{
    color:white;
}
.container_icecreams p{
    font-size: 14px;
}
.contact_number{
    float: right;
    font-size: 22px;
    font-weight: 600;
}
.logo{ 
    outline: none;
    margin:8px 10px 0 25px;
}
header a{
    margin: 0 0px 0 0px;
}
.menu span{
    border-bottom: 1px solid rgba(255,255,255,0.2); 
}
.catalog{
    display: inline;
    position: relative;
}
.modal_catalog{
    position: absolute;
    top:30px;
    right:-70px;
    display: none;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    min-width: 163px;
    min-height: 171px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.modal_catalog span{
    padding:12px 45px 10px 10px;
    font-weight: 700;
    color: black;
    max-width: 128px;
    border-bottom: 1px solid #d1d0ce;
}
.modal_catalog li{
    font-weight: 400;
    padding:9px 24px 9px 21px;
    list-style: none;
}
.modal_catalog a{
    color:black;
    text-decoration: none;
}
.modal_catalog li:last-child{
    border-radius:0 0 5px 5px; 
}
.modal_catalog li:hover{
    background-color: #fbded7;
}
.modal_catalog li:active{
    background-color: #f6b5a5;
}
.catalog:hover .modal_catalog{
    display: flex;
}
.navigator{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin:29px 0 0 0;
}
.menu > a{
    margin:0 0 0 -3px;
}
.catalog > a{
    padding: 9px 14px 9px 14px;
    border-radius: 16px 16px;
    text-decoration: none;
}
.menu .a_header{
    padding: 9px 14px 9px 14px;
    border-radius: 16px 16px;
    text-decoration: none;
}
.menu a:hover span{
    color:black;
}
.menu a:active span{
    color:black;
}
.a_header:hover{
    background-color:#f7f6f3;
}
.a_header:active{
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 3px 2px 0px rgba(105, 105, 105, 0.7);
}
.catalog > a:first-child{
    background-color:#d07058;
}
.catalog:active > a:first-child{
    box-shadow: inset 0px 3px 2px 0px rgba(105, 105, 105, 0.7);
}
.work_hours p{
    text-align: right;
    font-size: 14px;
}
.contact_number{
    font-size: 22px;
    font-weight: 600;
}
.modals{
    margin:-5px 10px 0px 0;
    display: flex;
}
.modals > div{  
    margin:0 15px 0 0;
    max-height: 31px;
}
.modals > div > a{
    font-size:14px;
}
.modals > div:hover > a{
    background-color: white;
    color:black;
}
.search > a{
    margin:0 -15px 0 0;
    text-decoration: none;
    border-radius: 20px 20px;
    background-color:rgba(255,255,255,0.3);
    padding: 9px 7px 5px 7px;
}
.login > a{
    text-decoration: none;
    border-radius: 20px 20px;
    background-color:rgba(255,255,255,0.3);
    padding:8px 16px 6px 24px;
}
.basket > a{
    margin:0 0px 0 0;
    text-decoration: none;
    border-radius: 20px 20px;
    background-color:rgba(255,255,255,0.3);
    padding:8px 36px 6px 20px;
}
.basket_catalog > a{
    margin:0 0px 0 0;
    text-decoration: none;
    border-radius: 20px 20px;
    color:black;
    background-color:white;
    padding:8px 20px 6px 20px;
}
.search > a:before{
    content:'';
    background-image: url('../img/header_sprite.png');
    background-repeat: no-repeat;
    background-position:-88px 0;
    width: 19px;
    height: 19px;
    position: relative;
    top:3px;
    display: inline-block;
}
.login > a:before{
    content:'';
    background-image: url('../img/header_sprite.png');
    background-repeat: no-repeat;
    background-position:-44px 0;
    width: 22px;
    height: 19px;
    position: relative;
    top:3px;
    right: 8px;
    display: inline-block;
}
.basket > a:before{
    content:'';
    background-image: url('../img/header_sprite.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 22px;
    height: 20px;
    position: relative;
    top:3px;
    right: 8px;
    display: inline-block;
}
.basket_catalog > a:before{
    content:'';
    background-image: url('../img/header_sprite.png');
    background-repeat: no-repeat;
    background-position: -22px 0;
    width: 22px;
    height: 20px;
    position: relative;
    top:3px;
    right: 8px;
    display: inline-block;
}
.search:hover > a:before{
    content:'';
    background-image: url('../img/header_sprite.png');
    background-repeat: no-repeat;
    background-position:-107px 0;
    width: 19px;
    height: 19px;
    position: relative;
    top:3px;
    display: inline-block;
}
.search{
    margin:0px 15px 0 0px;
    position: relative;
}
.search:hover{
    padding:0 0 2px 0;
}
.modal_search{
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    display:none;
    position:absolute;
    min-width: 326px;
    top:30px;
    right:-5px;
    background-color: #f8f7f4;
    padding:20px 5px 20px 15px;
    border-radius: 6px 6px;
}
.modal_search .place_input{
    min-width: 300px;
}
.search:hover .modal_search{
    display:flex;
}
.login{
    margin:0 20px 0 0;
    position: relative;
}
.login:hover > a:before{
    content:'';
    background-image: url('../img/header_sprite.png');
    background-repeat: no-repeat;
    background-position:-66px 0;
    width: 22px;
    height: 19px;
    position: relative;
    top:3px;
    right: 8px;
    display: inline-block;
}
.modal_login{
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 3;
    position: absolute;
    right: 0px;
    top:32px;
    display:none;
    flex-direction: column;
    max-height: 214px;
    max-width: 262px;
    background-color: #f8f7f4;
    padding:20px 15px 16px 15px;
    border-radius:5px 5px;
}
.registr{
    margin:5px 20px 0 0;
    flex-direction: column;
}
.modal_login div{
    display: flex;
}
.login:hover{
    padding:0 0 2px 0;
}
.login:hover  .modal_login{
    display: flex;
}
.modal_login .btn{
    font-size:16px;
    padding: 0 20px 0 20px;
    margin:0 12px 0 0;
}
.modal_login .place_input{
    margin:0px 0px 20px 0px;
    min-width: 240px;
}
.modal_login span{
    text-decoration:none;
    color:black;
    font-size: 14px;
    max-height: 18px;
    border-bottom: 1px solid #b2b2b2; 
}
.modal_login a:hover span{
    border-bottom-color: #f9cdc4;
    color:#e84d37;
}
.basket{
    position: relative;
}
.basket:hover{
    padding:0 0 2px 0;
}
.basket:hover a:nth-child(1):before{
    content:'';
    background-image: url('../img/header_sprite.png');
    background-repeat: no-repeat;
    background-position:-22px 0;
    width: 22px;
    height: 20px;
    position: relative;
    top:3px;
    right: 8px;
    display: inline-block;
}
.modal_basket{
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    min-width: 510px;
    z-index: 3;
    position: absolute;
    right: 0px;
    top:32px;
    display:none;
    flex-direction: column;
    background-color: #f8f7f4;
    padding:20px 12px 16px 15px;
    border-radius:5px 5px;

}
.basket_item{
    margin:20px 0 20px 0;
}
.modal_basket ul{
    font-size:13px;
    font-weight: 400;
    display: flex;
}
.modal_basket li{
    color: black;
    list-style: none;
    position: relative;
    left:36px;
}
.basket_item ul li:first-child{
    max-width: 218px;
    margin:0 48px 0 40px;
}
.basket_item ul li:nth-child(2){
    margin:0 28px 0 0px;
}
.basket_item_1 li:first-child:before{
    content: url('../img/basket_item2.png');
    position: absolute;
    left:-46px;
    bottom:-10px;
}
.basket_item_2 li:first-child:before{
    content: url('../img/basket_item1.png');
    position: absolute;
    left:-46px;
}
.basket_items{
    border-bottom:2px solid #cacac7;
}
.modal_basket span{
    color:#b2b2b1;
}
.modal_basket p{
    margin:20px 0 20px 40px;
    color: black;
    font-weight: 700;
}
.basket:hover .modal_basket{
    display:flex;
}
.basket_underline{
    float:right;
}
.basket_underline .btn{
    padding:0 15px 0 15px;
}
.cancel{
    top:10px;
    position: relative;
}
.cancel div:first-child{
    width:20px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
}
.cancel div:last-child{
    width:20px;
    position: absolute;
    height: 2px;
    background-color: black;
    transform: rotate(135deg);
}
.btn{
    display: inline-block;
    font-weight: 600;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    outline: none;
}
.btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    outline: none;
}
.btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    outline: none;
}
.breadcrumbs{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin:2px 0 0 22px;
}
.breadcrumbs div:first-child{
    margin:20px 0 0 0;
}
.breadcrumbs a{
    margin: 0 3px 0 3px;
    border-bottom:1px solid #aebeb5;
    text-decoration: none;
    font-size: 14px;
}
.breadcrumbs a:hover{
    color: #ffbc9e;
    border-color:#a7a294;
}
.work_hours{
    margin:0 50px 0 0;
}
.main_wrapper_catalog{
    max-width: 1200px;
    border-bottom: 1px solid #a9bbb1;
}
.banners{
    color:white;
    min-height: 843px;
}
.select{
    position: relative;
    display: inline-block;
}
.select:after{
    content: "▼";
    color: white;
    padding: 0 8px;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
}
.select:hover:after {
    content: "▼";
    color: black;
}
.sort  select{
    background-color: #9db1a5;
    border:none;
    outline: none;
    font-weight: bold;
    border-radius:18px 18px;
    color:white;
    padding: 8px 52px 10px 16px;
    appearance: none;
    -o-appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size:15.5px;
}
.sort select:hover{
    color:black;
}
.sort option{
    background-color: white;
    color:black;
}
.filters{
    margin:22px 0 0 0;
}
.filters h3{
    margin:1px 0 6px 14px;
    font-size:14px;
    font-weight:600;
}
.filters form{ 
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
}
.price{
    margin:0 0 0 20px;
}
.roller{
    border-radius:18px 18px;
    min-height: 34px;
    min-width:218px;
    background-color: #9db1a5;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin:8px 0 0 0;
}
.slider{
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius:10px 10px;
}
.slider:hover{
    width:5px;
    height: 5px;
}
.roller div:nth-child(2){
    left:30px;
}
.roller div:last-child{
    left:128px;
}
.roller div:nth-child(2):before{
    content: "";
    left:12px;
    position: absolute;
    width: 78px;
    height: 4px;
    background-color: #f8f7f4;
}
.backline{
    width: 176px;
    height: 4px;
    background-color: #d1dad3;
}
.fatness{
    margin:0 0 0 15px;
}
.radio_buttons{
    display: flex;
    background-color: #aabcb2;
    justify-content: space-around;
    padding-top: 5px;
    min-height: 30px;
    border-radius: 18px 18px;
    min-width: 415px;
}
.radio_buttons input{
    display: none;
}
.radio_buttons label{
    position: relative;
    margin:6px 16px 0 32px;
}
.radio_buttons label:before{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px 8px;
    border:3px solid #aabcb2;
    box-shadow: 0px 0px 0px 4px #eef2f0;
    position: absolute;
    top:0px;
    left:-25px;
}
.radio_buttons input:checked + label:before{
    background-color: #eef2f0;
}
.radio_buttons input:checked + label:hover:before{
    background-color: white;
}
.radio_buttons label:hover:before{
    box-shadow: 0 0 0 4px white;
}
.radio_buttons input:checked + label:disabled:before{
    background-color: #b5c4bc;
}
.radio_buttons label:disabled:before{
    box-shadow: 0 0 0 4px #b5c4bc;
}
.fillers{
    margin:14px 0 0 0;
}
.checkbox_buttons{
    display: flex;
    justify-content: space-around;
    background-color: #aabcb2;
    min-height: 34px;
    align-items: center;
    min-width: 702px;
    border-radius: 18px 18px;
}
.checkbox_buttons input{
    display: none;
}
.checkbox_buttons label{
    margin:0 0 0 20px;
    position: relative;
}
.checkbox_buttons label:before{
    content: "";
    background: url("../img/checkbox-sprite.png") 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom:-2px;
    left:-25px;
}
.checkbox_buttons label:hover:before{
    content: "";
    background: url("../img/checkbox-sprite.png") -20px 0;
    width: 20px;
    height: 20px;
    position: absolute;    
}
.checkbox_buttons  input:checked + label:before{
    content: "";
    background: url("../img/checkbox-sprite.png") -60px 0;
    width: 24px;
    height: 20px;
    position: absolute;
    bottom:-2px;
    left:-25px;
}
.checkbox_buttons input:checked + label:hover:before{
    content: "";
    background: url("../img/checkbox-sprite.png") -84px 0;
    width: 24px;
    height: 20px;
    position: absolute;    
}
.btn_submit{
    font-size: 16px;
    display: flex;
    margin:38px 0 0 16px;
    padding: 0px 27px 0px 27px;
    border-radius: 18px 18px;
    border: 2px solid white;
    background-color: #9cb0a4;
    outline: none;
}
.btn_submit:hover{
    color:black;
    background-color: white;
}
.btn_submit:active{
    background-color: rgb(237, 237, 237);
    padding:2px 29px 2px 29px;
    border:none;
    box-shadow: inset 0px 3px 1px 0px rgba(105, 105, 105, 0.7);
}
.container_icecreams{
    min-height: 533px;
    display: flex;
    justify-content: space-between;
    margin:0 0 30px 0;
}
.toogle{
    display:flex;
    align-items: flex-end;
    margin: 0 0 23px 12px;
}
.both{
    display:flex;   
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding:0 0px 1px 92px;
    max-width:600px;
    text-align: center;
}
.container_icecreams p{
    max-width:180px;
    text-align: right;
    margin:0 15px 0 0;
}
.actions{
    margin:40px 0 0 0;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.actions h2{
    font-size: 35px;
    margin:0 0 14px 0;
}
.container_raspberry{
    background-image: url("../img/raspberry.png");
    max-width: 533px;
    max-height: 213px;
    color:white;
    padding: 16px 10px 3px 18px;
    display: flex;
    flex-direction: column;
}
.container_raspberry .btn{
    padding:2px 15px 3px 18px;
    margin:44px 12px 20px 357px;
}
.container_chocolate .btn{
    padding:2px 15px 3px 18px;
    margin:44px 12px 20px 332px;
}
.container_chocolate{
    background-image: url("../img/chocolate.png");
    max-width: 533px;
    max-height: 213px;
    color:white;
    padding: 16px 10px 0 18px;
    display: flex;
    flex-direction: column;
}
.items{
    display: flex;
    margin:-30px 1px 0px 1px;
}
.items_container{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0 0 -10px;
}
.cell{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 293px;
    margin:16px 0px 16px 0;
    max-height: 330px;
    overflow: hidden;
    padding: 5px 0 0px 0;
    z-index: 2;
}
.item{
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    height:400px;
    max-width:267px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding:5px 13px 0 13px;
}
.items_container a{
    font-size: 16px;
    margin:14px 6px 10px 0px;
    line-height: 1.4;
}
.items .item::before{
    content: url('../img/hit.png');
    position: absolute;
}
.items_container span{
    font-size: 45px;
}
.items a{
    font-size: 16px;
    margin:14px 6px 10px 0px;
    line-height: 1.4;
}
.item p{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color:white;
    position: absolute;
    bottom:150px;
}
.item a{
    text-decoration: none;
}
.items span{
    font-size: 45px;
}
.item_name span{
    padding:0 5px 0 5px;
    font-size:16px;
    border-bottom:1px solid #aebeb5;
}
.item .btn{
    padding:10px 0 10px 0;
}
.cell:hover{
    z-index: 3;
    overflow: visible;
}
.cell:hover .item{
    background:rgba(157, 177, 165, 0.50);
}
.item .btn{
    margin:10px 30px 0 30px;
}
.switcher{
    min-width:100%;
    justify-content: flex-end;
    display: flex;
    margin:71px 0px 35px -18px;
}
.switcher div:first-child{
    margin:0 20px 0 0;
}
.switcher input{
    display: none;
}
.page{
    font-size:16px;
    padding:3px 8px 3px 8px;
    border-radius: 13px 13px;
}
.page:hover{
    background-color: #9db1a5;
}
.page:active{
    color:black;
    background-color: white;
}
.toogle input:checked + .page{
    color:black;
    background-color: white;
}
.switch_left{
    display: inline-block;
    position: relative;
}
.switch_left div:first-child{
    position: absolute;
    bottom:6px;
    left:0;
    width: 9px;
    height: 2px ;
    background-color:#9db1a5;
    transform: rotate(-45deg); 
}
.switch_left div:last-child{
    position: absolute;
    bottom:0px;
    width:9px;
    height:2px;
    background-color:#9db1a5;
    transform: rotate(45deg); 
}
.switch_right{
    display: inline-block;
    margin: 0 0px 0 10px;
    position: relative;
}
.switch_right div:first-child{
    position: absolute;
    bottom:7px;
    width: 9px;
    height: 2px ;
    background-color:white;
    transform: rotate(-135deg); 
}
.switch_right div:last-child{
    position: absolute;
    bottom:1px;
    width:9px;
    height:2px;
    background-color:white;
    transform: rotate(135deg); 
}
.info{
    margin: 24px 0 0 12px;
    display: flex;
    flex-flow: column;
    border:0px solid black;
    border-radius: 16px;
    max-width:1100px;
    background-image: url("../img/pattern_waffle.png");
    padding: 24px 28px 2px 20px;
    max-height:280px;
}
.info h3{
    color:black;
    font-size:24px;
    max-width:1100px;
    max-height: 55px;
}
.info ul{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
.info li{
    position: relative;
    list-style: none;
    margin:29px 0px 0 54px;
    max-width: 490px;
    padding:0 23px 0 0;
}
.info p{
    margin:0 0 0 5px;
    color:black;
    line-height: 1.3;
}
.info li:nth-child(1):before{
    content:url("../img/product.png");
    position: absolute;
    top:-16px;
    left:-52px;
}
.info li:nth-child(2):before{
    content:url("../img/leaf.png");
    position: absolute;
    top:-16px;
    left:-52px;
}
.info li:nth-child(3):before{
    content:url("../img/cow.png");
    position: absolute;
    top:-16px;
    left:-52px;
}
.info li:nth-child(4):before{
    content:url("../img/temprature.png");
    position: absolute;
    top:-16px;
    left:-52px;
}
.blog{
    background-image: url("../img/blog_background.png");
    max-width: 300px;
    min-height: 196px;
    padding: 24px 240px 0 20px;
    color:black;
}
.blog h4{
    color:black;
}
.email_wrapper{
    background-image: url(../img/email_border.png);
    max-width: 548px;
    min-height: 176px;
    padding:6px 6px;
}
.email{
    background:#f8f7f4;
    color:#7a7979;
    max-width: 548px;
    min-height: 176px;
    padding: 28px 0px 4px 20px;
    border:0px solid black;
    border-radius: 20px 20px;
}
.email p{
    color:black;
    padding:0 10px 0 0 ;
    font-weight: 400;
    font-size:16px;
    line-height: 1.4;
}
.email .place_input{
    font-size: 16px;
    font-weight: 400;
    margin:36px 10px 0px 0;
    padding:4px 170px 2px 13px ;
}
.email .btn{
    font-size: 18px;
    margin:36px 0 0 0;
    padding:0px 17px;
}
.blog a{ 
    color:black;
    font-size: 24px;
    text-decoration: none;
      background-size: 1px;
      box-shadow:
        inset 0 -0.175px white,
        inset 0 -2px rgba(0, 0, 0, 0.5),
        inset 0 0px white;
      display: inline;
}
.place{
    position:relative;
    min-width: 100%;
}
.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    top:102px;
    right:380px;
    background-color: white;
    border:0px solid black;
    border-radius: 20px 20px;
    min-width:302px;
}
.data{
    font-family: 'Roboto',Arial,sans-serif;
    padding:13px 0 32px 0;
}
.data p{
    color:black;
    font-size:14px;
    line-height: 1.6;
    margin:15px 0 0 0;
}
.data span{
    color:black;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}
.data .btn{
    margin:24px 0 0 0;
    font-size: 18px;
    padding:2px 30px 2px 30px;
}
.both .btn{
    font-size: 31px;
    padding: 12px 44px;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.toogle label {
   display: inline-block;
   width: 17px;
   height: 17px;
   margin-right: 8px;  
   vertical-align: top; 
   background-color: transparent;
   border: 2px solid #ffffff;
   border-radius: 50%;
   cursor: pointer;
}
.map{
    margin: 40px 0 0 0;
    min-height: 430px;
}
.main_wrapper{
    max-width:1200px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main_case{
    margin:0 0 0 25px;
    font-size:17.5px;
}
.place_input{
    padding:0 0 0 14px;
    min-height:37px;
    box-sizing: padding-box;
    border: 1px solid #d3d3d2;
    border-radius: 5px 5px;
}
.place_input:hover{
    border:1px solid #c7c6c5;
    box-shadow: 0 0 0px 1px #c7c6c5;
}
.place_input:focus{
    border:1px solid #8fbdec;
    box-shadow: 0 0 0px 1px #8fbdec;
}
.place_input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.place_input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.place_input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.place_input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
footer{
    color:rgb(255, 255, 255);
    display: flex;
    max-height: 103px;
}
.information{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    margin:22px 345px 26px 226px;
    
}
.information a{
    margin:8px 32px 0 0;
}
footer a{
    font-family: 'Roboto',Arial,sans-serif;
    margin:5px 0 0 10px;
    display: inline-block;
    text-decoration:none;
    border-bottom: 1px solid rgba(255,255,255,0.2); 
    color:white;
    font-weight: 400;
    font-size: 13px;
}
footer a:hover{
    border-bottom: 1px solid rgb(167, 162, 148); 
    color:#ffbc9e;
}
.contacts{
    margin:35px 0px 0 10px;
}  
.contacts a{
    width: 32px;
    height: 32px;
    margin:0 7px 0 0;
    border:3px solid #c0cdc5;
    border-radius:20px;
}
.contacts a:hover{
    border:3px solid #dae2de;
}
.contacts a:active{
    border:3px solid #c0cdc5;
}
.contacts image{
    opacity:.8;
}
.contacts a:hover image{
    opacity:1;
}
.contacts a:active image{
    opacity:.8;
}
.information a:nth-child(1){
    font-weight: 600;
    position: relative;
}
.information a:nth-child(1):before{
    content:url('../img/heart.png');
    position: absolute;
    left:-20px;
}
.creator{
    margin:17px 0 0 0px;
}
.creator a{
    padding:5px 0 5px;
    margin:0 0 0 4px;
}
.creator p{
    line-height: 0.5;
    font-weight: 400;
    font-size: 12px;
}
.creator:before{
    content: url('../img/logo-htmlacademy.png');
    display: block;
}
.slider-list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecreams_1.png");
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream_2.png");
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream_3.png");
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:hover ~ .site-wrapper label[for="product-1"],
#product-2:hover ~ .site-wrapper label[for="product-2"],
#product-3:hover ~ .site-wrapper label[for="product-3"] {
  background-color:rgba(255,255,255,0.5);
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.modal_wrapper{
    z-index: 10;
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal_feedback{
    border-radius:10px 10px;
    background-color: #f8f7f4;
    display: flex;
    flex-direction: column;
    padding:20px 25px 24px 24px;
}
.modal_feedback form{
    display: flex;
    flex-direction: column;
}
.modal_feedback .place_input{
    margin:20px 0 0 0;
}
.modal_feedback .btn{
    margin:20px 0 0 290px;
    padding:0 24px 0 24px;
}
.modal_feedback .place_input:nth-child(3){
    padding-bottom:110px;
}
.modal_feedback .place_input:nth-child(1){
    margin-right: 141px;
}
.modal_feedback .place_input:nth-child(2){
    margin-right: 141px;
}
.feedback_open{
    display: flex;
}
.feedback_header{
    display: flex;
}
.feedback_header h2{
    color:black;
}
.feedback_close{
    cursor: pointer;
    margin:0 0 0 40px;
}
.feedback_close div{
    position: relative;
    display: inline-block;
    width: 3px;
    height: 25px;
    background-color: black;
}
.feedback_close div:nth-child(1){
    left: 7px;
    transform:rotate(45deg);
}
.feedback_close div:nth-child(2){
    transform:rotate(-45deg);
}
