*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto',Arial, sans-serif;
    background-repeat: no-repeat;
    background-color: #849d8f;
    background-image: url("../img/icecreams_1.png");
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 900px; 
}
header{
    max-height: 73px;
    display: flex;
}
header div:nth-child(2){
    margin-top:25px;
}
header a{
    margin:0 10px 0 0;
    color:white;
}
.modals{
    margin:25px 0 0 100px;
}
.modals a{
    padding: 5px 10px;
    border: 0px solid white;
    border-radius: 20px 20px;
    background-color:rgba(255,255,255,0.5);
}
.banners{
    min-height: 843px;
}
.container_icecreams{
    min-height: 533px;
    display: flex;
}
.toogle{
    display:flex;
    align-items: flex-end;
}
.both{
    display:flex;

}
.actions{
    display: flex;
}
.container_raspberry{
    background-image: url("../img/raspberry.png");
    max-width: 510px;
    height: 229px;
    color:white;
    padding: 0 30px 0 20px;
    margin: 0 26px 0 27px;

}
.container_chocolate{
    background-image: url("../img/chocolate.png");
    color:white;
    max-width: 510px;
    height: 229px;
    padding: 0 30px 0 20px;
    margin:0 27px 0 0;
}
.items{
    display: flex;
    height: 322px;
    margin:0px 1px 0 1px;
}
.cell{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 293px;
    margin:0 0px 0 0;
    height: 322px;
    overflow: hidden;
    padding: 5px 0 0 0;
    z-index: 2;
}
.item{
    height:400px;
    max-width:267px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding:5px 13px 0 13px;
}
.hit{
    width:61px;
    position:absolute;
    bottom: 338px;
}
.items a{
    color:white;
    font-size: 16px;
    margin:10px 0 10px 0;
}
.item p{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color:white;
    position: absolute;
    bottom:150px;
}
.item span{
    font-size: 45px;
}
.cell:hover{
    overflow: visible;
}
.cell:hover .item{
    background:rgba(157, 177, 165, 0.50);
}
.info{
    margin: 30px 0 0 0;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    border:0px solid black;
    border-radius: 20px 20px;
    max-width:1100px;
    background-image: url("../img/waffle.png");
    padding: 30px 30px 0 50px;
    height:200px;
}
.info h4{
    max-width:800px;
}
.info li{
    margin:10px 0 0 0;
    display: inline-flex;
    max-width: 530px;
}
.blog{
    background-image: url("../img/blog_background.png");
    max-width: 440px;
    height: 220px;
    color:white;
    padding: 0 100px 0 20px;
    margin: 0 26px 0 27px;
    color:black;

}
.email{
    background:gray;
    color:white;
    max-width: 490px;
    height: 200px;
    padding: 0 0px 0 20px;
    margin:0 27px 0 0;
    border:10px solid black;
    -moz-border-image: url(../img/mail_border.png) 10 round round;
    -webkit-border-image: url(../img/mail_border.png) 10 round round; 
    -o-border-image: url(../img/mail_border.png) 10 round round;
    border-image: url(../img/mail_border.png) 10 round round;
    border-radius: 20px 20px;
}
.blog a{ 
    color:black;
    font-size: 30px;
    text-decoration: none;
      background-size: 1px;
      box-shadow:
        inset 0 -0.175px white,
        inset 0 -2px rgba(0, 0, 0, 0.5),
        inset 0 0px white;
      display: inline;
}
.feedback{

    background-color: white;
    border:0px solid black;
    border-radius: 20px 20px;
    max-width:300px;
}
.text-shadow {
    text-shadow:
      -2px -2px white,
      -2px 2px white,
      2px -2px white,
      2px 2px white;
}
  .underline {
    background-size: 1px 1em;
    box-shadow:
      inset 0 -0.175em white,
      inset 0 -0.2em #000;
    display: inline;
}
a.btn{
    display:inline-block;
    font-size: 18px;
    color:white;
    font-weight: bold;
    font-family:'Roboto',Arial,sans-serif;
    text-decoration: none;
    background-color: #ec5a3d;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border:0px solid black;
    border-radius:20px 20px;
    box-shadow: 5px 0px 2px #ec5a3d;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  }